@media screen and (max-width:480px) {
    .fixed-width {
        width: 100%;
/*        margin: auto;*/
    }
    .col-4 {
        width: 100%;
/*    	  margin: 10px;*/
/*        float: left;*/
        padding: 20px;
    }
    .col-2 {
        width: 100%;
/*        float: left;*/
    }
    nav .logo {
/*        float: left;*/
        width: 150px;
        height: 100px;
        background-color: rgba(0,0,0,0);
    }
    nav .menu {
/*        float: right;*/
    }
    nav .menu ul {
        margin: 0;
        padding: 0;
    }
    nav .menu li {
/*        float: left;*/
        list-style: none;
        border-bottom: solid 1px #555;
    }
    nav .menu a {
        display: block;
        line-height: 48px;
/*        margin-left: 30px;*/
        text-decoration: none;
        color: #eee;
        font-size: 14px;
        font-weight: 900;
        padding-left: 20px;
        background-color: #333;
    }
    header {
        background-image: url(images/bg2.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        padding-top: 280px;
        padding-bottom: 280px;
        text-align: center;
        color: #fff;
    }
    header .content h1 {
        font-size: 48px;
        letter-spacing: 4px;
    }
    header .content p {
        letter-spacing: 6px;
    }
    #about {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    #about .title h2 {
        text-align: center;
        padding-top: 100px;
        padding-bottom: 100px;
        font-size: 24px;
        letter-spacing: 8px;
        position: relative;
    }
    #about .title h2::before {
        content: "W";
        position: absolute;
        display: block;
        width: 100%;
        font-size: 200px;
        top: -20px;
        color: rgba(255,255,255,.15);
    }
    #about .col-4 {
        text-align: center;
    }
    #about .col-4 h3 {
        padding-top: 20px;
        padding-bottom: 5px;
        letter-spacing: 5px;
    }    
    #about .col-4 p {
        font-size: 14px;
        letter-spacing: 2px;
    }
    #about .icon {
        width: 150px;
        height: 150px;
        background-color: rgba(255,255,255,.1);
        display: inline-block;
        line-height: 170px;
        border-radius: 50%;
        border: solid rgba(255,255,255,.13);
    }
    #service .col-2 {
        height: 400px;
    }
    #service .wrapper .col-2 .content h3 {
        border-left: solid 13px #e32323;
        padding-left: 20px;
        margin-bottom: 20px;
        font-size: 40px;
    }
    #service .wrapper .content p {
        margin-top: 20px;
        margin-bottom: 20px;
        text-align: center;
    }
    #service .wrapper .content a {
        display: inline-block;
        text-decoration: none;
        padding: 10px;
        text-align: center;
    }
    #service .wrapper:nth-of-type(1) .col-2:nth-of-type(1) .content a {
        color: #eee;
        border: solid 1px #eee;
        width: 100%;
        background-color: #444;
    }
    #service .wrapper:nth-of-type(2) .col-2:nth-of-type(2) .content a {
        color: #333;
        border: solid 1px #333;
        width: 100%;
        background-color: #ccc;
    }
    /*虛擬元素置中*/
    #service .wrapper:nth-of-type(1) .col-2:nth-of-type(1) {
        display: inline-block;
        vertical-align: middle;
        font-size: 0;
        background-color: #111;
        color: #eee;
    }
    #service .wrapper:nth-of-type(2) .col-2:nth-of-type(2) {
        display: inline-block;
        vertical-align: middle;
        font-size: 0;
        background-color: #d6d5d5;
        color: #333;
    }
    #service .wrapper:nth-of-type(1) .col-2:nth-of-type(1)::before {
        content: "";
        display: inline-block;
        vertical-align: middle;
        height: 100%;
    }
    #service .wrapper:nth-of-type(2) .col-2:nth-of-type(2)::before {
        content: "";
        display: inline-block;
        vertical-align: middle;
        height: 100%;
    }    
    #service .wrapper:nth-of-type(1) .col-2:nth-of-type(1) .content {
        display: inline-block;
        vertical-align: middle;
        font-size: 16px;
        padding-left: 50px;
        padding-right: 50px;
    }
    #service .wrapper:nth-of-type(2) .col-2:nth-of-type(2) .content {
        display: inline-block;
        vertical-align: middle;
        font-size: 16px;
        padding-left: 50px;
        padding-right: 50px;
    }
    #service .wrapper:nth-of-type(1) .col-2:nth-of-type(2) {
        background-image: url(images/bg3.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    #service .wrapper:nth-of-type(2) .col-2:nth-of-type(1) {
        background-image: url(images/bg7.jpeg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    #works {
        padding-top: 100px;
        padding-bottom: 50px;            
    }
    #works h2::before {
        content: "M";
        position: absolute;
        display: block;
        width: 100%;
        font-size: 200px;
        top: -60px;
        color: rgba(0,0,0,.15);
    }
    #works h2 {
        text-align: center;
        padding-top: 50px;
        padding-bottom: 100px;
        font-size: 24px;
        letter-spacing: 15px;
        position: relative;
    }
    #works .fixed-width:nth-of-type(1) p {
        margin-bottom: 50px;
    }
    #works .fixed-width p {
        text-align: center;
        letter-spacing: 1px;
    }
    #works h3 {
        margin-top: 30px;
        margin-bottom: 30px;
        text-align: center;
        font-weight: bold;
        letter-spacing: 2px;
    }
    footer {
        background-color: #222;
        color: #eee;
        padding-top: 30px;
        padding-bottom: 30px;
        text-align: center;
        letter-spacing: 1.5px;
        font-size: 14px;
    }
}